<% provide(:title, 'Help') %>
<h1>Help</h1>
<h4>Experimental Data .csv Format<br><br>
	<small>Your data must be in .csv format.  Headers should be included.  Data types for each column must match the following:
	<ol>
		<li>Sys.ID</li>
		<li>logFC</li>
		<li>logCPM</li>
		<li>PValue</li>
		<li>FDR</li>
		<li>Gene Name</li>
		<li>Amino Acid Identities</li>
		<li>Sys.ID from similar species</li>
		<li>Gene Product</li>
	</ol>
	<p>Example:</p>
	</small>
</h4>

<img alt="CSV format" src="assets/csv_format.png" />